<%- include("partials/header") %> 

<div class="about">
    <%- include("navbar") %> 
    <div class="left-part">
        <div class="profile-about">
        <img src="images/atharva.jpeg" alt="My Picture" />
        </div>
        
        <h1 class='about-heading mt-3'>I am Atharva</h1>
        <p class='about-subheading mt-2 w-75'>Studying in 8th grade Agile Shaala</p>
    </div>
    <div class="right-part">
        <h3 class='right-heading'>The reason for making this website</h3>
        <p class='reason'>I made this website with the help of Srinath Sir. I made this website as it was a nice project with a lot of technologies to learn. I would like to thank Srinath sir for helping me to make this website</p>
        <h3>Tools which I used:</h3>
        <ul class="list-group">
            <li class="list-group-item strengths">React (Frontend and communication with database) <i class="fa-brands fa-react"></i></li>
            <li class="list-group-item strengths">NodeJS (Making the database a bit more accessible) <i class="fa-brands fa-node"></i></li>
            <li class="list-group-item strengths">MongoDB (Database) <i class="fa-solid fa-database"></i></li>
            <li class="list-group-item strengths">CSS (Styling) <i class="fa-brands fa-css3-alt"></i></li>
        </ul>
    </div>
</div>
<%- include("partials/footer") %> 
