<%- include("partials/header") %> 
<div class="contact">
    <%- include("navbar") %> 
    <div class="main-page">

        <h1 class='text-center purple-text contact-heading'>Contact Me</h1>
        <div class="container contact-icons">
            <div class="row">
                <div class="col-lg-4">

                    <span id="Whatsapp" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp: (+91)-7048691302">
                        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/640px-WhatsApp_icon.png' width="100px" />
                    </span>
                    

                </div>
                <div class="col-lg-4">
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCBkQsLTvhPdZwLkFCHzwKxgGxGmjgRzdHmQMlLdlzXKJzntwRCLgmFrjHRvgNSGGLrgdV"><img src='https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png' width="100px" /></a>
                    
                </div>
                <div class="col-lg-4">
                    <a href="https://github.com/atharva-bhai"><img src='https://github.githubassets.com/images/modules/logos_page/Octocat.png' width="100px" /></a>
                    
                </div>
            </div>
        </div>

    </div>
</div>
<%- include("partials/footer") %> 
