<%- include("partials/header") %> 
<div class="home-anonymous">
    <div class="top-bar">
        <h3 class="brand-text"><a href="/book" class="brand-a">ADDRESS BOOK</a></h3>
        <a href="/register" class="btn sign-up">Register</a>
        <a href="/login" class="btn sign-in">Login</a>
    </div>
    <div class="heading">
        <h1 class="big-heading">Address Taking made easy for you</h1>
        <p class="small-subtitle">You can make Address Taking way easier than you think</p>
    </div>
    <img src="images/book.png" alt="Book" class="book-img" id="book" />
</div>
<%- include("partials/footer") %> 
